.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Nav Nav Nav Nav Nav Nav"
    "Display-Image Display-Image Display-Image Display-Image Display-Image Display-Image"
    "Section-1 Section-1 Section-1 Section-1 Section-1 Section-1"
    "Section-2 Section-2 Section-2 Section-2 Section-2 Section-2"
    "Section-3 Section-3 Section-3 Section-3 Section-3 Section-3"
    "Section-4 Section-4 Section-4 Section-4 Section-4 Section-4"
    "Section-5 Section-5 Section-5 Section-5 Section-5 Section-5"
    ". . . . . .";
}
/* Nav elements */
.Nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: 1fr 0.6fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Logo Phone-number Phone-number Phone-number . . ."
    "Logo Report-Button CampaignsButton Volunteer-Button . contact-Button donate-Button"
    "stroke stroke stroke stroke stroke stroke stroke";
  grid-area: Nav;
}

.Logo { 
  grid-area: Logo;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Logo img{
  /* background-color:bisque; */
  width: 8em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.Phone-number { 
  grid-area: Phone-number; 
  /* background-color: grey; */
}

.Report-Button { 
  grid-area: Report-Button;
  /* background-color: purple; */
}

.Report-Button button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.CampaignsButton { 
  grid-area: CampaignsButton;
  /* background-color: red; */
}

.CampaignsButton button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.Volunteer-Button { 
  grid-area: Volunteer-Button;
  /* background-color: yellow;  */
}

.Volunteer-Button button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.contact-Button { 
  grid-area: contact-Button;
  /* background-color: pink;  */
}

.contact-Button button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.donate-Button { 
  grid-area: donate-Button;
  /* background-color:  blue;  */
}

.donate-Button button {
  background-color: #CE796B;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

/* Stroke */
.stroke {
  grid-area: stroke;
  background-color: black;
}

/* DisplayImage */
.Display-Image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Image1 Text Image2";
  grid-area: Display-Image;
}

.Image1 { 
  grid-area: Image1;
  /* background-color: beige; */
  padding:0em;
}

.Image1 img {
  /* background-color:pink; */
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Text { 
  grid-area: Text;
  /* background-color: blue; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  
}

.Text > p {
  text-align: center; 
  font-size: 200%;
  /* background-color: pink; */
  /* position:relative; */
}

.Image2 { 
  grid-area: Image2;
  /* background-color:darkcyan; */
  padding: 0em;
}

.Image2 img {
  /* background-color:aliceblue; */
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

/* Section 1 */
.Section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 3fr auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Who-we-are Who-we-are Who-we-are Title Title"
    "Who-we-are-text Who-we-are-text Who-we-are-text Donation-bubbles Donation-bubbles"
    "Who-we-are-text Who-we-are-text Who-we-are-text Donation-bubbles Donation-bubbles"
    "Who-we-are-text Who-we-are-text Who-we-are-text Donate-Button2 Donate-Button2"
    "Picture3 Picture2 Picture1 Donation-text Donation-text";
  grid-area: Section-1;
  background-color: #ECC8AF;
}

.Who-we-are { 
  grid-area: Who-we-are; 
  /* background-color:aqua; */
}

.Who-we-are p {
  text-align: center; 
  font-size: 200%;
  /* background-color:blue; */
}

.Title { 
  grid-area: Title; 
  /* background-color:coral; */
}

.Title p {
  text-align: center; 
  font-size: 200%;
  /* background-color:rgb(0, 255, 64); */
}

.Donation-bubbles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "bubble1 bubble2 bubble3"
    "bubble1 bubble2 bubble3";
  grid-area: Donation-bubbles;
  /* background-color:aqua; */
}

.bubble1 { 
  grid-area: bubble1; 
}

.bubble2 { 
  grid-area: bubble2; 
}

.bubble3 { 
  grid-area: bubble3; 
}

.bubble1, .bubble2, .bubble3 {
  background-color: white;
  width: 70%;
  height: 80%;
  border-radius: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center; 
  display: inline-block;
}


.bubble1, .bubble2, .bubble3 p{
  font-size: 80%;
}

.Donate-Button2 { 
  grid-area: Donate-Button2; 
  /* background-color:red; */
}

.section1-donate-button {
  font-size: 100%;
  width: 70%;
  height: 30%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
  margin: 0 auto;
  position: relative;
  display: block;
  
}

.Donation-text { 
  grid-area: Donation-text; 
  /* background-color:coral; */
}

.Donation-text p {
  text-align:center;
}

.Who-we-are-text { 
  grid-area: Who-we-are-text; 
  /* background-color:antiquewhite; */
  padding: 2em;
}

.Picture1 { 
  grid-area: Picture1;
  /* background-color:rgb(205, 255, 230); */

}

.Picture1 img {
  border-radius: 25px;
  /* background-color: crimson; */
  width:100%;
  display: block;
  margin: 0 auto;
}

.Picture2 { 
  grid-area: Picture2; 
  /* background-color: cyan; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Picture2 img {
  border-radius: 25px;
  width:100%;
  /* background-color:red; */
}

.Picture3 { 
  grid-area: Picture3; 
  /* background-color:cornsilk; */
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Picture3 img {
  border-radius: 25px;
  width:100%;
  /* background-color: red; */
}

/* Section 2 */
.Section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 0.5fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "Rescue-Log Rescue-Log Rescue-Log"
    "Log1 Log2 Log3"
    "Log1Text Log2Text Log3Text";
  grid-area: Section-2;
}

.Rescue-Log { 
  grid-area: Rescue-Log; 
  text-align: center;
  font-size: 200%;
}

/* .Rescue-Log p {
  /* background-color: purple; */
/* } */ */

.Log1 { 
  grid-area: Log1; 
  /* background-color:blue; */
}

.Log1 img {
  width:100%;
  border-radius: 25px;
}

.Log2 { 
  grid-area: Log2;
  /* background-color:cadetblue; */
}

.Log2 img {
  width:100%;
  border-radius: 25px;
}

.Log3 { 
  grid-area: Log3; 
  /* background-color:chocolate; */
}

.Log3 img {
  width:100%;
  border-radius: 25px;

}

.Log1Text { 
  grid-area: Log1Text; 
  text-align: center;
  padding: 1em;
  /* background-color:aliceblue; */
}

.Log1Text p {
  width:100%;
  background-color: white;
}

.Log2Text { 
  grid-area: Log2Text; 
  text-align: center;
  padding: 1em;
  /* background-color:aqua; */
}

.Log2Text p {
  width:100%;
  background-color: white;
}

.Log3Text { 
  grid-area: Log3Text; 
  text-align: center;
  padding: 1em;
  /* background-color:blueviolet; */
}

.Log3Text p {
  width: 100%;
  background-color: white;
}


/* Section 3 */
.Section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Report-an-Injured-Animal Report-an-Injured-Animal Report-an-Injured-Animal"
    "ReportText ReportText Image";
    /* "ReportText ReportText Image"; */
  grid-area: Section-3;
  background-color: #ECC8AF;
}

.Report-an-Injured-Animal { 
  grid-area: Report-an-Injured-Animal; 
  text-align: center;
  /* background-color:beige; */
  margin:1em;
}

.section3-report-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.ReportText { 
  grid-area: ReportText; 
  /* background-color:chartreuse; */
  text-align:center;
  padding: 1em;
}

.ReportText p {
  /* background-color:darkgreen; */
}

.Image { 
  grid-area: Image; 
  /* background-color:aliceblue; */
}

.Image img {
  width:100%;
  /* background-color:darkblue; */
  border-radius: 25px;
}


/* section4 */
.Section-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Our-Campaigns Our-Campaigns Our-Campaigns"
    "Campaign-Image Campaign-Text Campaign-Text";
  grid-area: Section-4;
}

.Our-Campaigns { 
  grid-area: Our-Campaigns; 
  /* background-color:aliceblue; */
  text-align: center;
  margin:1em;
}

.section4-campaigns-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.Campaign-Image { 
  grid-area: Campaign-Image; 
  /* background-color:beige; */
}

.Campaign-Image img {
  width:100%;
  border-radius: 25px;
}

.Campaign-Text { 
  grid-area: Campaign-Text;
  /* background-color:antiquewhite; */
  text-align:center;
  padding: 1em; 
}


.Section-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Volunteer-Title Volunteer-Title Volunteer-Title"
    "Become-Volunteer . Become-Carer"
    "Volunteer-Image . Volunteer-Image2";
  grid-area: Section-5;
  background-color: #ECC8AF;
}

.Volunteer-Title { 
  grid-area: Volunteer-Title; 
  text-align:center;
  /* background-color:aliceblue; */
  margin:1em;
}

.section5-volunteer-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.Become-Volunteer { 
  grid-area: Become-Volunteer; 
  /* background-color:bisque; */
  margin:1em;
  text-align: center;
}

.section5-becomeVolunteer-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.Become-Carer { 
  grid-area: Become-Carer; 
  /* background-color:aquamarine; */
  margin:1em;
  text-align: center;
}

.section5-becomeCarer-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.Volunteer-Image { 
  grid-area: Volunteer-Image; 
  /* background-color:chartreuse; */
}

.Volunteer-Image img {
  width:100%;
  border-radius: 25px;
}

.Volunteer-Image2 { 
  grid-area: Volunteer-Image2; 
  /* background-color:burlywood; */
}

.Volunteer-Image2 img {
  width:100%;
  border-radius: 25px;
}

@media screen and (max-width: 661px) {
  .Nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto, auto, 50px 50px;
    gap: 0px 0px;
    grid-template-areas:
      "Logo Phone-number Phone-number Phone-number"
      "Report-Button Report-Button CampaignsButton CampaignsButton"
      "Volunteer-Button Volunteer-Button contact-Button donate-Button"
      "stroke stroke stroke stroke";
    grid-area: Nav;
    background-color:red;

  }

.Logo { 
  grid-area: Logo;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Logo img{
  background-color:bisque;
  width: 2em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.Phone-number { 
  text-align: center;
  grid-area: Phone-number; 
  background-color: grey;
}

.Report-Button { 
  grid-area: Report-Button;
  background-color: purple;
}

.Report-Button button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 25px;
  color: white;
}

.CampaignsButton { 
  grid-area: CampaignsButton;
  background-color: pink;
}

.CampaignsButton button {
  margin-left: 1em;
  margin-right: 1em;
}

.Volunteer-Button { 
  background-color: yellow; 
}

.Volunteer-Button button {
  margin-left: 1em;
  margin-right: 1em;
}

.contact-Button { 
  background-color: orange; 
}

.contact-Button button {
  margin-left: 1em;
  margin-right: 1em;
}

.donate-Button { 
  background-color:  blue; 
}

.donate-Button button {
  margin-left: 1em;
  margin-right: 1em;
}
    





  .Section-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Who-we-are"
      "Who-we-are-text"
      "Title"
      "Donation-bubbles"
      "Donation-bubbles"
      "Donate-Button2"
      "Donation-text";
    grid-area: Section-1;
  }
  .Picture1 { 
    display: none;
  }
  .Picture2 { 
    display: none;
  }
  .Picture3 { 
    display: none;
  }
}


