/* ________________________________________________________________________________ */

/* General settings */

/* ________________________________________________________________________________ */



a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
 text-decoration: none;
 color: white;
}

button:hover {
 filter: brightness(80%);
}

a:active {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Castoro";
  font-size: 35px;
}


h2 {
  font-size: 30px;
  font-family: "Mukta";
}

h3 {
  font-size: 25px;
  font-family: "Mukta";
}

h4 {
  font-size: 20px;
  font-family: "Mukta";
}


p {
  font-family: "Mukta";
  font-size: 20px;
}

input {
  height: 2.5em;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(185, 185, 185);
  background-color: #E5E5E5;
  box-shadow: 5px 5px 2px rgb(185, 185, 185) inset;
  resize: vertical;
  width: 95%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: auto;
  padding-right: auto;
}





/* ________________________________________________________________________________ */

/* Page1 */

/* ________________________________________________________________________________ */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav nav nav nav nav"
    "Display-Image Display-Image Display-Image Display-Image Display-Image Display-Image"
    "Section-1 Section-1 Section-1 Section-1 Section-1 Section-1"
    "Section-2 Section-2 Section-2 Section-2 Section-2 Section-2"
    "Section-3 Section-3 Section-3 Section-3 Section-3 Section-3"
    "Section-4 Section-4 Section-4 Section-4 Section-4 Section-4"
    "Section-5 Section-5 Section-5 Section-5 Section-5 Section-5"
    ". . . . . .";
}


/* ________________________________________________________________________________ */

/* Page1 Nav Elements */

/* ________________________________________________________________________________ */


nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto 3px;
  gap: 0px 0px;
  grid-template-areas:
    "Logo Phone-number Phone-number Phone-number Phone-number Phone-number Phone-number"
    "Logo Report-Button CampaignsButton Volunteer-Button . contact-Button donate-Button"
    "empty empty empty empty empty empty empty"
    "stroke stroke stroke stroke stroke stroke stroke";
  grid-area: nav;
}

.Logo { 
  grid-area: Logo;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Logo-button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.Logo img{
  width: 8em;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.Phone-number { 
  grid-area: Phone-number; 
}

.Phone-number p { 
  color:black;
}

.Report-Button { 
  grid-area: Report-Button;
}

.Report-Button-button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.CampaignsButton { 
  grid-area: CampaignsButton;
}

.CampaignsButton-button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.Volunteer-Button { 
  grid-area: Volunteer-Button;
}

.Volunteer-Button-button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.contact-Button { 
  grid-area: contact-Button;
}

.contact-Button-button {
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.donate-Button { 
  grid-area: donate-Button;
}

.donate-Button-button {
  background-color: #CE796B;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

/* Stroke */
.stroke {
  grid-area: stroke;
  background-color: black;
}

/* ________________________________________________________________________________ */

/* Page1 Display Image */

/* ________________________________________________________________________________ */
#Display-Image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    "Image1 Text Image2";
  grid-area: Display-Image;
  margin: 3em;
}

.Image1 { 
  grid-area: Image1;
  text-align: center;
  padding:0em;
}

.Image1 img {
  width: 100%;
  max-width: 250px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Text { 
  grid-area: Text;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  
}

.Text > h1 {
  text-align: center; 
}

.Image2 { 
  grid-area: Image2;
  text-align: center;
  padding: 0em;
}

.Image2 img {
  width: 100%;
  max-width: 250px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}





/* ________________________________________________________________________________ */

/* Page1 Section1 */

/* ________________________________________________________________________________ */
#Section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Who-we-are Who-we-are Who-we-are Title Title"
    "Who-we-are-text  Who-we-are-text   Who-we-are-text   Donation-bubbles      Donation-bubbles"
    "Who-we-are-text  Who-we-are-text   Who-we-are-text   Donation-bubbles      Donation-bubbles"
    "Who-we-are-text  Who-we-are-text   Who-we-are-text   Donate-Button-outer   Donate-Button-outer"
    "Picture3         Picture2          Picture1          Donation-text         Donation-text";
  grid-area: Section-1;
  background-color: #ECC8AF;
  /* background-image: "background.png"; */
}

.Who-we-are { 
  grid-area: Who-we-are; 
  margin-top: 3em;
}

.Who-we-are h2 {
  text-align: center; 
}

.Title { 
  grid-area: Title; 
  margin-top: 3em;
}

.Title h2 {
  text-align: center; 
}

.Donation-bubbles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    "bubble1 bubble2 bubble3";
  grid-area: Donation-bubbles;
}


  .Donation-bubbles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
      "bubble1 bubble2 bubble3";
    grid-area: Donation-bubbles;
    padding-bottom: 2em;
  }

  .bubble1 { 
    grid-area: bubble1; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "bubbleTitle1"
      "bubbleMessage1"
      "bubbleExtra1"
      "bubbleAmount1";
  }

  .bubbleTitle1 {
    grid-area: bubbleTitle1;
    height: 50px;
    margin-bottom: -1em;
    margin-top: -1em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleTitle1 p {
    font-size:25px;
  }

  .bubbleMessage1 {
    grid-area: bubbleMessage1;
    height: 50px;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleMessage1 p {
    font-size:20px;
  }

  .bubbleExtra1 {
    grid-area: bubbleExtra1;
    height: 50px;
    margin-bottom: -1em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleExtra1 p {
    font-size:15px;
  }

  .bubbleAmount1 {
    grid-area: bubbleAmount1;
    height: 50px;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleAmount1 p {
    font-size:15px;
  }

  .bubble2 { 
    grid-area: bubble2; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "bubbleTitle2"
      "bubbleMessage2"
      "bubbleExtra2"
      "bubbleAmount2";
  }

  .bubbleTitle2 {
    grid-area: bubbleTitle2;
    height: 50px;
    margin-bottom: -1em;
    margin-top: -1em;
    margin-right: 1em;
    margin-left: 1em;
  }


  .bubbleTitle2 p {
    font-size:25px;
  }

  .bubbleMessage2 {
    grid-area: bubbleMessage2;
    height: 50px;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleMessage2 p {
    font-size:20px;
  }

  .bubbleExtra2 {
    grid-area: bubbleExtra2;
    height: 50px;
    margin-bottom: -1em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleExtra2 p {
    font-size: 15px;
    color: white;
  }

  .bubbleAmount2 {
    grid-area: bubbleAmount2;
    height: 50px;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleAmount2 p {
    font-size:15px;
  }

  .bubble3 { 
    grid-area: bubble3; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "bubbleTitle3"
      "bubbleMessage3"
      "bubbleExtra3"
      "bubbleAmount3";
  }

  .bubbleTitle3 {
    grid-area: bubbleTitle3;
    height: 50px;
    margin-bottom: -1em;
    margin-top: -1em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleTitle3 p {
    font-size:25px;
  }

  .bubbleMessage3 {
    grid-area: bubbleMessage;
    height: 50px;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleMessage3 p {
    font-size:20px;
  }

  .bubbleExtra3 {
    grid-area: bubbleExtra3;
    height: 50px;
    margin-bottom: -1em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleExtra3 p {
    font-size: 15px;
    color: white;
  }

  .bubbleAmount3 {
    grid-area: bubbleAmount3;
    height: 50px;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
  }

  .bubbleAmount3 p {
    font-size:15px;
  }


.bubble1, .bubble2, .bubble3 {
  background-color: white;
  width: 70%;
  height: 80%;
  border-radius: 25px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center; 
  display: inline-block;
}



.Donate-Button-outer {
  grid-area: Donate-Button-outer;
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 3fr;
  gap: 0px 0px;
  grid-template-areas:
    "Donate-Button2";
}

.Donate-Button2 { 
  grid-area: Donate-Button2; 
  margin: 1em;
  margin-top: 2em;
}


.Donate-Button2-button {
  font-size: 100%;
  width: 70%;
  height: 80%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
  margin: 0 auto;
  position: relative;
  display: block;
  
}

.Donation-text { 
  grid-area: Donation-text; 
  margin-bottom: 3em;
}

.Donation-text p {
  text-align:center;
  margin: 2em;
}

.Who-we-are-text { 
  grid-area: Who-we-are-text; 
  padding: 2em;
}

.Picture1 { 
  grid-area: Picture1;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Picture1 img {
  border-radius: 25px;
  width:100%;
  display: block;
  margin: 0 auto;
}

.Picture2 { 
  grid-area: Picture2; 
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Picture2 img {
  border-radius: 25px;
  width:100%;
}

.Picture3 { 
  grid-area: Picture3; 
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.Picture3 img {
  border-radius: 25px;
  width:100%;
}

/* ________________________________________________________________________________ */

/* Page1 Section2 */

/* ________________________________________________________________________________ */
#Section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 0.5fr auto;
  gap: 0px 0px;
  grid-template-areas:
    "Rescue-Log Rescue-Log Rescue-Log"
    "Log1 Log2 Log3"
    "Log1Text Log2Text Log3Text";
  grid-area: Section-2;
}

.Rescue-Log { 
  grid-area: Rescue-Log; 
  text-align: center;
  margin-top: 3em;
}

.Log1 { 
  grid-area: Log1; 
  text-align: center;
}

.Log1 img {
  width:100%;
  border-radius: 25px;
  max-width: 300px;
}

.Log2 { 
  grid-area: Log2;
  text-align: center;
}

.Log2 img {
  width:100%;
  border-radius: 25px;
  max-width: 300px;
}

.Log3 { 
  grid-area: Log3; 
  text-align: center;
}

.Log3 img {
  width:100%;
  border-radius: 25px;
  max-width: 300px;
  

}

.Log1Text { 
  grid-area: Log1Text; 
  text-align: center;
  padding: 1em;
  margin-bottom: 3em;
}

.Log1Text p {
  width:100%;
  background-color: white;
}

.Log2Text { 
  grid-area: Log2Text; 
  text-align: center;
  padding: 1em;
  margin-bottom: 3em;
}

.Log2Text p {
  width:100%;
  background-color: white;
}

.Log3Text { 
  grid-area: Log3Text; 
  text-align: center;
  padding: 1em;
  margin-bottom: 3em;
}

.Log3Text p {
  width: 100%;
  background-color: white;
}


/* ________________________________________________________________________________ */

/* Page1 Section3 */

/* ________________________________________________________________________________ */
#Section-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Report-an-Injured-Animal Report-an-Injured-Animal Report-an-Injured-Animal"
    "ReportText ReportText Image";
  grid-area: Section-3;
  background-color: #ECC8AF;
}

.Report-an-Injured-Animal { 
  grid-area: Report-an-Injured-Animal; 
  text-align: center;
  margin:1em;
  margin-top: 3em;
}

.Report-an-Injured-Animal-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.ReportText { 
  grid-area: ReportText; 
  text-align:center;
  padding: 1em;
  margin-bottom: 3em;
}


.Image { 
  grid-area: Image; 
  text-align: center;
  margin-bottom: 3em;
}

.Image img {
  width:100%;
  max-width: 300px;
  border-radius: 25px;
}


/* ________________________________________________________________________________ */

/* Page1 Section4 */

/* ________________________________________________________________________________ */
#Section-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Our-Campaigns Our-Campaigns Our-Campaigns"
    "Campaign-Image Campaign-Text Campaign-Text";
  grid-area: Section-4;
}

.Our-Campaigns { 
  grid-area: Our-Campaigns; 
  text-align: center;
  margin:1em;
  margin-top: 3em;
}

.Our-Campaigns-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 25px;
  color: white;
}

.Campaign-Image { 
  grid-area: Campaign-Image; 
  text-align: center;
  margin-bottom: 3em;
}

.Campaign-Image img {
  width:100%;
  max-width: 300px;
  border-radius: 25px;
}

.Campaign-Text { 
  grid-area: Campaign-Text;
  text-align:center;
  padding: 1em; 
  margin-bottom: 3em;
}

/* ________________________________________________________________________________ */

/* Page1 Section5 */

/* ________________________________________________________________________________ */
#Section-5 {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Volunteer-Title Volunteer-Title Volunteer-Title"
    "Become-Volunteer . Become-Carer"
    "Volunteer-Image . Volunteer-Image2";
  grid-area: Section-5;
  background-color: #ECC8AF;
}

.Volunteer-Title { 
  grid-area: Volunteer-Title; 
  text-align:center;
  margin:1em;
  margin-top: 3em;
}

.Volunteer-Title-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.Become-Volunteer { 
  grid-area: Become-Volunteer; 
  margin:1em;
  text-align: center;
}

.Become-Volunteer-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.Become-Carer { 
  grid-area: Become-Carer; 
  margin:1em;
  text-align: center;
}

.Become-Carer-button {
  font-size: 200%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
}

.Volunteer-Image { 
  grid-area: Volunteer-Image; 
  text-align: center;
}

.Volunteer-Image img {
  width:100%;
  border-radius: 25px;
  max-width: 300px;
}

.Volunteer-Image2 { 
  grid-area: Volunteer-Image2; 
  text-align: center;
}

.Volunteer-Image2 img {
  width:100%;
  border-radius: 20px;
  max-width: 300px;
}



/* ________________________________________________________________________________ */

/* Page2 */

/* ________________________________________________________________________________ */

.grid-container-report-rescue {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "nav   nav   nav   nav   nav   nav"
    "Info  Info  Info  Info  Info  Info"
    "Form  Form  Form  Form  Form  Form";
}



/* ________________________________________________________________________________ */

/* Page2 Info */

/* ________________________________________________________________________________ */
#Info {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Info-Title  Info-Title  Info-blank"
    "Info-text   Info-text   Info-blank";
  grid-area: Info;
  background-color: #ECC8AF;
}

.Info-Title {
  grid-area: Info-Title;
  padding: 1em;
  margin-left: 2em;
}

.Info-text {
  grid-area: Info-text;
  padding: 1em;
  margin-left: 2em;
  margin-bottom: 3em;
}

/* ________________________________________________________________________________ */

/* Page2 Form */

/* ________________________________________________________________________________ */
#Form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
  "Form-Title         Form-Title        Form-Title        Form-Title"
  "Form-Details       Form-Details      Form-Animal       Form-Animal"
  "Form-Details-Box   Form-Details-Box  Form-Animal-Box   Form-Animal-Box"
  "Form-Location      Form-Location     Form-Animal-Box   Form-Animal-Box"
  "Form-Location-Box  Form-Location-Box Submit            Submit";
  grid-area: Form;
  margin: 2em;
  
}

.Submit {
  grid-area: Submit;
  text-align: center;
  margin-top: 5em;
  margin-bottom: 10em;
  margin-left: 5em;
}

.Submit-button {
  font-size: 100%;
  width: 70%;
  height: 80%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin: 0 auto;
  position: relative;
  display: block;
}

#Form label {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 140px;
}

input {
  width: 50%;
  height: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: auto;
  padding-right: auto;
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(185, 185, 185);
  background-color: #E5E5E5;
  box-shadow: 5px 5px 2px rgb(185, 185, 185) inset;
  resize: vertical;
}

#Form li {
  display: flex;
  flex-wrap: wrap;
}



.Form-Title {
  grid-area: Form-Title;
  text-align: center;
}

.Form-Details {
  grid-area: Form-Details;
  margin-left: 5em;
}


.Form-Details-Box {
  grid-area: Form-Details-Box;
  margin-left: 5em;
}

.Form-Location {
  grid-area: Form-Location;
  margin-left: 5em;
}

.Form-Location-Box {
  grid-area: Form-Location-Box;
  margin-left: 5em;
}

.Form-Animal {
  grid-area: Form-Animal;
  margin-left: 5em;
}


.Form-Animal-Box {
  grid-area: Form-Animal-Box;
  margin-left: 5em;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ________________________________________________________________________________ */

/* Page 3 */

/* ________________________________________________________________________________ */


.grid-container-campaigns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "nav   nav   nav   nav   nav   nav"
    "Campaigns-Title  Campaigns-Title  Campaigns-Title  Campaigns-Title  Campaigns-Title  Campaigns-Title"
    "Campaigns-Block  Campaigns-Block  Campaigns-Block  Campaigns-Block  Campaigns-Block  Campaigns-Block";
}

.Campaigns-Title {
  grid-area: Campaigns-Title;
  margin-left: 3em;
}

#Campaigns-Block {
  display: grid;
  grid-area: Campaigns-Block;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Landcare-Title   Wildlife-Title   AWC-Title"
    "Landcare         Wildlife         AWC"
    "Currumbin-Title  AussieArk-Title  Water4Wild-Title"
    "Currumbin        AussieArk        Water4Wild";
}

#Campaigns-Block p {
  margin-left: 2em;
  margin-right: 2em;
  text-overflow: ellipsis;
}

.Landcare, .Wildlife, .AWC, .Currumbin, .AussieArk, .Water4Wild {
  width: 70%;
  height: 80%;
  border-radius: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 4em;
  display: inline-block;
}

.Landcare-Title {
  text-align: center;
  grid-area: Landcare-Title;
}

.Landcare {
  background-color: #E7AD99;
  grid-area: Landcare;
}

.Wildlife-Title {
  text-align: center;
  grid-area: Wildlife-Title;
}

.Wildlife {
  background-color: #ECC8AF;
  grid-area: Wildlife;
}

.AWC-Title {
  text-align: center;
  grid-area: AWC-Title;
}

.AWC {
  background-color: #E7AD99;
  grid-area: AWC;
}

.Currumbin-Title {
  text-align: center;
  grid-area: Currumbin-Title;
}

.Currumbin {
  background-color: #ECC8AF;
  grid-area: Currumbin;
}

.AussieArk-Title {
  text-align: center;
  grid-area: AussieArk-Title;
}

.AussieArk {
  background-color: #E7AD99;
  grid-area: AussieArk;
}

.Water4Wild-Title {
  text-align: center;
  grid-area: Water4Wild-Title;
}

.Water4Wild {
  background-color: #ECC8AF;
  grid-area: Water4Wild;
}

/* ________________________________________________________________________________ */

/* Page 4 */

/* ________________________________________________________________________________ */


.grid-container-volunteer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "nav"
    "Volunteer-Info";
}


#Volunteer-Info {
  display: grid;
  grid-area: Volunteer-Info;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Volunteer-Title  Volunteer-Title "
    "Rescuer-Title    Carer-Title     "
    "Rescuer          Carer           ";

}


#Volunteer-Info p {
  margin-left: 3em;
  margin-right: 3em;
}

.Volunteer-Title {
  grid-area: Volunteer-Title;
}

.Rescuer-Title {
  text-align: center;
  grid-area: Rescuer-Title;
}

.Carer-Title {
  text-align: center;
  grid-area: Carer-Title;
}

.Rescuer {
  grid-area: Rescuer;
  margin-bottom: 3em;
}

.Carer {
  grid-area: Carer;
  margin-bottom: 3em;
}


/* ________________________________________________________________________________ */

/* Page5 */

/* ________________________________________________________________________________ */

.grid-container-donate {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav nav"
    "Donate-Title Donate-Title Donate-Title"
    "... Donate-Info ...";
}


.Donate-Title {
  grid-area: Donate-Title;
  text-align: center;
}

#Donate-Info {
  display: grid;
  grid-area: Donate-Info;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "Donation-freq   Donation-freq   Donation-freq   Donation-freq   Donation-freq   Donation-freq"
    "FirstName       FirstName       FirstName       LastName        LastName        LastName     "
    "Email           Email           Email           Email           Email           Email        "
    "Country         Country         Country         Country         Country         Country      "
    "Amount          Amount          Amount          Amount          Amount          Amount       "
    "donateAmount    donateAmount    donateAmount    donateAmount    donateAmount    donateAmount "
    "Donate-donate   Donate-donate   Donate-donate   Donate-donate   Donate-donate   Donate-donate";
}

.Donation-freq {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-area: Donation-freq;
  grid-template-areas:
  "Donation-freq-1 Donation-freq-month Donation-freq-paypal";
  margin-bottom: 2em;
}

.Donation-freq-1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  grid-area: Donation-freq-1;
  background-color:#E7AD99;
  border-right-style: solid;
  border-width: 1px;
}
      
.Donation-freq-month {
  text-align: center;
  grid-area: Donation-freq-month;
  background-color:#E7AD99
}
       
.Donation-freq-paypal {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  grid-area: Donation-freq-paypal;
  background-color: #E7AD99;
  border-left-style: solid;
  border-width: 1px;
}

.FirstName {
  grid-area: FirstName;
}

.FirstName input {
  width: 90%;
}

.LastName {
  grid-area: LastName;
}

.LastName input {
  width:90%;
}

.Email {
  grid-area: Email;
}

.Country {
  grid-area: Country;
}

.Amount {
  grid-area: Amount;
}

.donateAmount {
  grid-area: donateAmount;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
  "donate50 donate25 donate5 myChoice"
}

.donate50 {
  grid-area: donate50;
}

.donate25 {
  grid-area: donate25;
}

.donate5 {
  grid-area: donate5;
}

.myChoice {
  grid-area: myChoice;
}

.donate50, .donate25, .donate5, .myChoice {
  background-color: #ECC8AF;
  width: 70%;
  height: 70%;
  border-radius: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  text-align: center;
}

.Donate-donate {
  margin-top: 8em;
  grid-area: Donate-donate;
  margin-bottom: 5em;
}

.Donate-donate-button {
  font-size: 100%;
  width: 70%;
  height: 30%;
  background-color: #495867;
  border: none;
  padding: 8px 8px;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin: 0 auto;
  position: relative;
  display: block;
}


#Donate-Info label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.2em;

}

input {
  width: 95%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: auto;
  padding-right: auto;
}


/* ________________________________________________________________________________ */

/* Media Queries */

/* ________________________________________________________________________________ */


@media screen and (max-width: 1346px) {

/* ________________________________________________________________________________ */

/* Page1 section1 bubbles */

/* ________________________________________________________________________________ */

  .bubbleTitle1 p {
    font-size:20px;
  }


  .bubbleMessage1 p {
    font-size:15px;
  }



  .bubbleTitle2 p {
    font-size:20px;
  }


  .bubbleMessage2 p {
    font-size:15px;
  }


  .bubbleTitle3 p {
    font-size:20px;
  }


  .bubbleMessage3 p {
    font-size:15px;
  }


}



@media screen and (max-width: 550px) {

/* ________________________________________________________________________________ */

/* Page1 section1 bubbles */

/* ________________________________________________________________________________ */

  .Donation-bubbles {
    text-align: center;
    display: block;
  }



  .bubble1, .bubble2, bubble3 {
    margin-bottom: 3em;
  }

  .bubbleTitle1 p {
    font-size:25px;
  }


  .bubbleMessage1 p {
    font-size:20px;
  }



  .bubbleTitle2 p {
    font-size:25px;
  }


  .bubbleMessage2 p {
    font-size:20px;
  }



  .bubbleTitle3 p {
    font-size:25px;
  }


  .bubbleMessage3 p {
    font-size:20px;
  }



}


@media screen and (max-width: 644px) {

/* ________________________________________________________________________________ */

/* Page1 nav */

/* ________________________________________________________________________________ */

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto, auto, auto 3px;
    gap: 0px 0px;
    grid-template-areas:
      "Logo               Phone-number      Phone-number      Phone-number      Phone-number      Phone-number"
      "Report-Button      Report-Button     Report-Button     CampaignsButton   CampaignsButton   CampaignsButton"
      "Volunteer-Button   Volunteer-Button  contact-Button    contact-Button    donate-Button     donate-Button"
      "stroke             stroke            stroke            stroke            stroke            stroke";
    grid-area: nav;

  }

  nav button {
    border-radius: 15px;

  }
  .Logo { 
    grid-area: Logo;
  }

  .Logo img{
    width: 5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }


  .Phone-number { 
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0px;
    grid-area: Phone-number;  
  }
  

  .Report-Button { 
    grid-area: Report-Button;
  }

  .Report-Button-button {
    background-color: #495867;
    border: none;
    padding: 8px 8px;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .CampaignsButton { 
    grid-area: CampaignsButton;
    text-align: right;
  }

  .CampaignsButton-button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .Volunteer-Button {
    margin-left: 0px;
    margin-right: 0px;
  }

  .Volunteer-Button-button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .contact-Button {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .contact-Button-button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .donate-Button {
    text-align: right;
    margin-left: 0px;
    margin-right: 0px;
  }

  .donate-Button-button {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }


}

@media screen and (max-width: 1198px) {

  /* ________________________________________________________________________________ */

  /* page1 Section1 */

  /* ________________________________________________________________________________ */

  #Section-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "Who-we-are"
      "Who-we-are-text"
      "Title"
      "Donation-bubbles"
      "Donation-bubbles"
      "Donate-Button-outer"
      "Donation-text";
    grid-area: Section-1;
  }


  .Who-we-are { 
    grid-area: Who-we-are; 
  }

  .Who-we-are p {
    text-align: center; 
    font-size: 200%;
  }

  .Title { 
    grid-area: Title; 
  }

  .Title p {
    text-align: center; 
    font-size: 200%;
  }



  .Donate-Button2 { 
    grid-area: Donate-Button2; 
  }

  .section1-donate-button {
    font-size: 100%;
    width: 70%;
    height: 30%;
    background-color: #495867;
    border: none;
    padding: 8px 8px;
    text-align: center;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
    position: relative;
    display: block;
    
  }

  .Donation-text { 
    grid-area: Donation-text; 
  }

  .Donation-text p {
    text-align:center;
  }

  .Who-we-are-text { 
    grid-area: Who-we-are-text; 
    padding: 2em;
  }


  .Picture1 { 
    display: none;
  }
  .Picture2 { 
    display: none;
  }
  .Picture3 { 
    display: none;
  }



}


@media screen and (max-width: 1025px) {

/* ________________________________________________________________________________ */

/* page1 */

/* ________________________________________________________________________________ */



  /* ________________________________________________________________________________ */

  /* page1 Display Image */

  /* ________________________________________________________________________________ */


  .Image1 { 
    display: none;
  }

  .Image2 { 
    display: none;
  }

  .Text { 
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
  }

  .Text > h1 {
    text-align: center; 
  }





  /* ________________________________________________________________________________ */

  /* page1 Section2 */

  /* ________________________________________________________________________________ */


  #Section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 0.5fr auto;
    gap: 0px 0px;
    grid-template-areas:
      "Rescue-Log Rescue-Log"
      "Log1 Log2"
      "Log1Text Log2Text";
    grid-area: Section-2;
  }

  .Rescue-Log { 
    grid-area: Rescue-Log; 
    text-align: center;
  }

  .Log1 { 
    grid-area: Log1;
  }


  .Log2 { 
    grid-area: Log2;
  }

  .Log2 img {
    width:100%;
    border-radius: 20px;
  }

  .Log3 { 
    display: none;
  }

  .Log1Text { 
    grid-area: Log1Text;
  }


  .Log2Text { 
    grid-area: Log2Text;
  }

  .Log3Text { 
    display: none;
  }


  /* ________________________________________________________________________________ */

  /* page1 Section3 */

  /* ________________________________________________________________________________ */


  #Section-3 {
    display: block;
  }

  .Image { 
    display: none;
  }


  /* ________________________________________________________________________________ */

  /* page1 Section4 */

  /* ________________________________________________________________________________ */

  #Section-4 {
    display: block;
  }

  .Campaign-Image { 
    display: none;
  }


  /* ________________________________________________________________________________ */

  /* page1 Section5 */

  /* ________________________________________________________________________________ */


  #Section-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Volunteer-Title Volunteer-Title"
      "Become-Volunteer Become-Carer"
      "Volunteer-Image Volunteer-Image2";
    grid-area: Section-5;
    background-color: #ECC8AF;
  }




  /* ________________________________________________________________________________ */

  /* page2 */

  /* ________________________________________________________________________________ */

  #Info {
    display: block;
  }


  .Form-Details {
    margin-left: 2em;
    margin-right: 2em;
  }



  .Form-Details-Box {
    margin-left: 2em;
    margin-right: 2em;

  }

  .Form-Location {
    margin-left: 2em;
    margin-right: 2em;
  }


  .Form-Location-Box {
    margin-left: 2em;
    margin-right: 2em;
  }

  .Form-Animal {
    margin-left: 2em;
    margin-right: 2em;
  }


  .Form-Animal-Box {
    margin-left: 2em;
    margin-right: 2em;
  }


  #Form {
    display: block;
  }

  .Submit {
  margin-left: 0em;
  }

  /* ________________________________________________________________________________ */

  /* page3 */

  /* ________________________________________________________________________________ */


  .Campaigns-Title {
    text-align: center;
    margin: 0em;
  }


  #Campaigns-Block {
    display: block;
    text-align: center;
  }


  /* ________________________________________________________________________________ */

  /* page4 */

  /* ________________________________________________________________________________ */


  #Volunteer-Info {
    display: block;
  }


  /* ________________________________________________________________________________ */

  /* page5 */

  /* ________________________________________________________________________________ */

  #Donate-Info{
    display: block;
    margin-left: 3em;
    margin-right: 3em;
  }

  #Donate-Info input {
    width:90%;
  }

  .grid-container-donate {
    display: block;
  }



}
